# WordPress browser port
WORDPRESS_PORT=

# phpMyAdmin browser port
PHPMYADMIN_PORT=

# WordPress debug mode for local development
WORDPRESS_DEBUG=

# MySQL credentials
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=